Petición de ausencia cancelada
=====
<p>Hola <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Tu petición de ausencia <strong>{{>leave_request_detail leave=leave }}</strong> ha sido <strong>cancelada</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>Gracias</p>
