Petición de ausencia cancelada
=====
<p>Hola {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} canceló </strong> la petición de ausencia <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

{{> email/leave_comments comments=comments }}

<p>No se requieren acciones.</p>

<p>Gracias</p>
